table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.toggle-button {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-button[data-color] {
    background-color: lightgoldenrodyellow;
}
.toggle-button.active {
    background-color: lightgreen;
}

.toggle-button.active[data-color] {
    background-color: green;
}

.discount-button {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.discount-button.active {
    background-color: lightgreen;

}

.legende-div {
    position: absolute;
    top: 400px;
    right: 300px;
    width: 500px;

    border: 2px solid black;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 10px; ;
}

.legende-item {
    display: flex;
    align-items: center;
    gap: 10px;
}